/* main background and body styling */
body{
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(76, 243, 95, 1), rgba(89, 143, 246, 1));
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

header {
    margin: 5vh;
}

/* start page selector styling */
#start {
    background-color: rgba(226, 237, 238, 0.9);
    box-sizing: border-box;
    width: 85%;
    height: 80%;
    max-height: 500px;
    max-width: 830px;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border: 2px solid black;
    border-radius: 20px;
}

.start-box {
    margin: 5vh;
}

.cat-e,
.cat-na {
    margin: 3.5vh;
}

#europe,
#north-america {
    background-color: #e6e8e6;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0043DE;
    color: black;
    font-size: 1.2em;
    padding: 15px;
    text-align: center;
}

/* main quiz questions section styling */
#quiz-area {
    background-color: rgba(226, 237, 238, 0.9);
    box-sizing: border-box;
    width: 85%;
    height: 90%;
    max-height: 900px;
    max-width: 830px;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 20px;
    border: 2px solid black;
}

.question-text {
    padding: 2vh;
}

/* rules button and section */
#rules-box {
    margin: 5vh;
    padding: 5px 5px 10px 5px;
    background-color: rgba(6, 100, 216, 0.7);
    border-radius: 15px;
    letter-spacing: 0.5px;    
}

#rules-button {
    background-color: #e6e8e6;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0043DE;
    color: black;
    font-size: 1.2em;
    padding: 2.5vh;
    text-align: center;
    margin: 3vh;
}

#rules li {
    margin: 1em;
    font-size: 1.1em;
}

/* general button styling */
.button:hover,
.home-btn:hover {
    background-color: #0043DE;
    color: white;

}

#europe:hover,
#north-america:hover {
    background-color: #0043DE;
    color: white;
}

.btn-answer,
.home-btn {
    margin: 1vh;
    background-color: #e6e8e6;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #0043DE;
    color: black;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

.home-btn {
    padding: 2vh;
}

/* score counter styling */
.scores {
    display: inline-block;
    padding: 2vh;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 2px;
}

/* final score page styling */
#final-page {
    background-color: rgba(226, 237, 238, 0.9);
    box-sizing: border-box;
    width: 85%;
    height: 30vh;
    max-height: 500px;
    max-width: 830px;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 20px;
    border: 2px solid black;
} 

#final-score {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

/* For screen sizes for 600px and under */
@media  screen and (max-width: 540px) {
    
    .question-text {
        padding: 0.5vh;
    }
    .scores {
        padding: 0.5vh;
    }
}

@media screen and (max-width: 590px) {
    #final-score {
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
       }
}