
body{
    text-align: center;
    background-image: linear-gradient(to right, rgba(233, 30, 99, .8), rgba(33, 150, 243, .8));
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


#enter {
background-color: blue;
box-shadow: 5px 5px 5px #0043DE;
border-radius: 15px;
border: solid #e6e8e6 3px;
color: black;
font-size: 2.5em;
letter-spacing: 1px;
margin-top: 10%;
padding: 20px;
text-align: center;
}

h1 {
    font-size: 2em;
    color: #0043DE;
    margin-bottom: 2px;
}